<section class="feedback">
  <span class="glow-blur feedback__glow-blur"></span>
  <div class="container feedback__container">
    <h2 class="feedback__title">Let's w<span class="feedback__title-ellipse"></span>rk together!</h2>
    <form class="feedback__form form-feedback">

      <div class="form-feedback__input-wpar">
        <input class="form-feedback__input" id="name" type="text">
        <label class="form-feedback__label" for="name">Name</label>
      </div>

      <div class="form-feedback__input-wpar">
        <input class="form-feedback__input" id="email" type="email">
        <label class="form-feedback__label" for="email">E-mail</label>
      </div>

      <textarea class="form-feedback__textarea" placeholder="Message"></textarea>

      <div class="form-feedback__button-wrap">
        <button class="btn-reset form-feedback__btn-submit">Send request</button>
        <input class="form-feedback__input-checkbox" id="check" type="checkbox">
        <label class="form-feedback__label-checkbox" for="check">Agree with confidentional politic</label>
      </div>
    </form>
    <p class="feedback__descr">Your business <b>elevated</b>, one email away.</p>
  </div>
</section>
