<section class="info">
  <span class="glow-blur info__glow-blur"></span>
  <div class="container info__container">
    <div class="info__card card">
      <img class="card__img" src="./img/infoCard.jpg" alt="">
      <div class="card__content">
        <h3 class="card__title">
          We&nbsp;can help if&nbsp;you are:
        </h3>
        <p class="card__descr">
          Large and medium-sized international enterprises benefit from cooperation with&nbsp;us.<br>
          Full-service solutions in&nbsp;web development and promotion.
        </p>
      </div>
    </div>

    <ul class="info__process process list-reset">
      <li class="process__item">
        <img class="process__item-image" src="./img/elipses.svg" alt="Operating Business">
        <div class="process__content">
          <h3 class="process__title">
            Operating Business
          </h3>
          <p class="process__descr">
            Our team will invest in&nbsp;your success, build and elevate your brand experiences.
          </p>
        </div>
      </li>

      <li class="process__item">
        <img class="process__item-image" src="./img/frame.svg" alt="Expanding business">
        <div class="process__content">
          <h3 class="process__title">
            Expanding business
          </h3>
          <p class="process__descr">
            With confidence, agility, and flexibility, will FDS meet the challenges to&nbsp;help your business relocate
            and enter foreign markets.
          </p>
        </div>
      </li>

      <li class="process__item">
        <img class="process__item-image" src="./img/startup.svg" alt="Startup">
        <div class="process__content">
          <h3 class="process__title">
            Startup
          </h3>
          <p class="process__descr">
            FSD will optimize your strategy to&nbsp;enter the market, reach loyal audiences and build brand awareness.
            Strap in&nbsp;and let&rsquo;s go!
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
