<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">
        Fintech <span class="hero__title--yellow">Software</span>
        <span class="hero__ellipse">Design LLC</span>
      </h1>
      <p class="hero__descr">High-end development solutions to&nbsp;help create a&nbsp;foundational strategy and make
        your business better.</p>
      <button class="btn-reset button hero__button">Elevate my business</button>
    </div>
  </div>
</section>
